* {
	margin: 0;
	padding: 0;
	font-family: "Balsamiq";
}

$userColor: #42a5f5;

@font-face {
	font-family: "Balsamiq";
	font-weight: normal;
	src: url("./fonts/BalsamiqSans-Regular.ttf") format("truetype");
}

html,
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.user-name {
	color: $userColor;
}

.chat-content {
	color: white;
}

.loader-main {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.home {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.status {
	position: absolute;
	bottom: 1%;
	right: 0.3%;
	transform: scale(0.5, 0.5);
}
.progress-ring {
	transform: scale(1.2);
	display: flex;
}
.progress-ring * {
	transform-origin: center;
	transform: rotate(-90deg);
	transition: stroke-dashoffset 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), cx 0.8s cubic-bezier(0.25, 0.8, 0.25, 1),
		cy 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.progress-ring > .bg {
	opacity: 0.15;
}
.progress-ring #textid {
	transform: rotate(0deg);
	fill: #dcedc8;
	text-transform: uppercase;
	font-family: sans-serif;
	text-align: center;
	font-family: "Fira Mono", monospace;
	font-size: 12px;
}

.txt {
	fill: #000;
	font-family: "Fira Mono", monospace;
	transform: rotate(0deg);
	font-size: 12px;
	font-weight: bold;
}
